html {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;/*full size*/
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }

/* basic settings */
body{
    background-color:whitesmoke;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;/* 18px */
    font-weight: 400;
    line-height: 1.4;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}
ul {
    list-style: none;
  }
  
a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    width: 100%;
}

/* nav */
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:royalblue;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list{
    display:flex;
    margin-right: 2rem;
}

@media (max-width: 28.75em) {
    nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }

#navbar a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    color: white;
}
#navbar a:hover{
    background-color:navy;
}

/* welcome */
.welcome-section{
    /* background-image: linear-gradient(deepskyblue,dodgerblue,cornflowerblue); */
    background-color:dodgerblue;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#welcome-section-header:hover{
    /* display: block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px; */
    color:royalblue;
    background-color:white;
}

.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

/* projects */
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background-image:linear-gradient(royalblue,cornflowerblue,dodgerblue);
}


#projects-section-header{
    max-width: 650px;
    margin: 0 auto 6rem auto;
    color:white;
    border-bottom: 0.2rem white;
}
@media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }


.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /*to make reponsive layout
    minmax limit the size of items when the grid container changes size
    auto-fill keeps inserting empty rows or columns and pushes your items to the side,
    auto-fit collapses those empty rows or columns and stretches your items to fit the size of the container.
    */
    row-gap: 4rem;
    column-gap:4rem;
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
@media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
}

.project {
    background-color:rgba(1, 18, 39, 0.212);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.project-tile {
    color:whitesmoke;
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
img {
    display: block;
    width: 100%;
}

.project:hover .code {
    color:cyan;
  }
.code {
    color: darkslateblue;
    transition: color 0.3s ease-out;
}

/* contacts */
#contact-section{
    background-image: linear-gradient(dodgerblue,royalblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
}

#contact-section-header > h2 {
    font-size: 6rem;
  }
@media (max-width: 28.75em) {
    #contact-section-header > h2 {
      font-size: 4rem;
    }
}
.contact-section-header > p {
    font-style: italic;
}
  
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
  
.contact-details:hover {
    transform: translateY(8px);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}


