html {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;/*full size*/
}

body{
    background-color:whitesmoke;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:deepskyblue;
}

.nav-list{
    display:flex;
    margin-right: 2rem;
}

ul{
    list-style: none;
}

#navbar a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    color:azure;
    text-decoration: none;
}


#welcome-section{
    background-image: linear-gradient(azure,deepskyblue);
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#welcome-section-header:hover{
    display: block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color:dodgerblue;
    background-color:white;
}

h1{
    font-size:5em;
}
h2 {
    font-size: 4.2rem;
  }
h1,h2{
    text-align: center;
}

#projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background-color:deepskyblue;
}


#projects-section-header{
    margin: 0 auto 6rem auto;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /*to make reponsive layout
    minmax limit the size of items when the grid container changes size
    auto-fill keeps inserting empty rows or columns and pushes your items to the side,
    auto-fit collapses those empty rows or columns and stretches your items to fit the size of the container.
    */
    row-gap: 4rem;
    column-gap:4rem;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}


.project-image {
    /* height: calc(100% - 6.8rem); */
    width: 100%;
    object-fit: cover;
  }

a{
    text-decoration: none;
    color:skyblue;

}

#contact-section{
    text-align: center;
}
#contact-links{
    display: flex;
    justify-content: center;
}

#contact-details{
    font-size: 2.4rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}